<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>problems</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Customer CSS commons.css -->
    <link rel="stylesheet" href="../css/commons.css">
</head>

<body>
    <main class="container">
        <table border="1">
            <tr>
                <td>
                    <h2>[Problems]</h2>
                    <br>
                    <form action="" method="post">
                        <div>
                            응시자 이름 <input type="text" name="name" placeholder="공백 없이 입력하세요" id="nameinfo">
                        </div>

                        <br>

                        <div>
                            <h5>1. Python에서 변수를 선언할 때 사용하는 키워드는 무엇인가요? (배점 20점)</h5>
                            <div>
                                <input type="radio" name="question1" value="question1_01" id="answer1_01">
                                <label for="answer1_01"> a) var </label>
                            </div>
                            <div>
                                <input type="radio" name="question1" value="question1_02" id="answer1_02">
                                <label for="answer1_02"> b) let </label>
                            </div>
                            <div>
                                <input type="radio" name="question1" value="question1_03" id="answer1_03">
                                <label for="answer1_03"> c) const </label>
                            </div>
                            <div>
                                <input type="radio" name="question1" value="question1_04" id="answer1_04">
                                <label for="answer1_04"> d) def </label>
                            </div>
                        </div>

                        <hr>
                        <div>
                            <h5>2. Python에서 사용되는 가장 일반적인 반복문 키워드는 무엇인가요? (배점 20점)</h5>
                            <div>
                                <input type="radio" name="question2" value="question2_01" id="answer2_01">
                                <label for="answer2_01"> a) for </label>
                            </div>
                            <div>
                                <input type="radio" name="question2" value="question2_02" id="answer2_02">
                                <label for="answer2_02"> b) while </label>
                            </div>
                            <div>
                                <input type="radio" name="question2" value="question2_03" id="answer2_03">
                                <label for="answer2_03"> c) loop </label>
                            </div>
                            <div>
                                <input type="radio" name="question2" value="question2_04" id="answer2_04">
                                <label for="answer2_04"> d) repeat </label>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <h5>3. Python에서 리스트의 마지막 요소를 제거하기 위해 사용하는 메서드는 무엇인가요? (배점 20점)</h5>
                            <div>
                                <input type="radio" name="question3" value="question3_01" id="answer3_01">
                                <label for="answer3_01"> a) remove() </label>
                            </div>
                            <div>
                                <input type="radio" name="question3" value="question3_02" id="answer3_02">
                                <label for="answer3_02"> b) pop() </label>
                            </div>
                            <div>
                                <input type="radio" name="question3" value="question3_03" id="answer3_03">
                                <label for="answer3_03"> c) delete() </label>
                            </div>
                            <div>
                                <input type="radio" name="question3" value="question3_04" id="answer3_04">
                                <label for="answer3_04"> d) clear() </label>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <div>
                                <h5>4. Python에서 파일을 열기 위해 사용되는 내장 함수는 무엇인가요? (배점 20점)</h5>
                                <div>
                                    <input type="radio" name="question4" value="question4_01" id="answer4_01">
                                    <label for="answer4_01"> a) open() </label>
                                </div>
                                <div>
                                    <input type="radio" name="question4" value="question4_02" id="answer4_02">
                                    <label for="answer4_02"> b) read() </label>
                                </div>
                                <div>
                                    <input type="radio" name="question4" value="question4_03" id="answer4_03">
                                    <label for="answer4_03"> c) write()ad </label>
                                </div>
                                <div>
                                    <input type="radio" name="question4" value="question4_04" id="answer4_04">
                                    <label for="answer4_04"> d) close() </label>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <h5>5. Python에서 함수를 정의할 때 사용하는 키워드는 무엇인가요? (배점 20점</h5>
                            <div>
                                <input type="radio" name="question5" value="question4_01" id="answer4_01">
                                <label for="answer3_01"> a) function </label>
                            </div>
                            <div>
                                <input type="radio" name="question5" value="question4_02" id="answer4_02">
                                <label for="answer3_02"> b) define </label>
                            </div>
                            <div>
                                <input type="radio" name="question5" value="question4_03" id="answer4_03">
                                <label for="answer3_03"> c) def </label>
                            </div>
                            <div>
                                <input type="radio" name="question5" value="question4_04" id="answer4_04">
                                <label for="answer3_04"> d) create </label>
                            </div>
                        </div>

                        <br>

                        <button type="submit" formaction="main" formmethod="post">제출 하기</button>
                        <button type="reset">다시 쓰기</button>
                        
                    </form>
                </td>
            </tr>
        </table>
    </main>
</body>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</html>